<%= render partial: "/shared/userimage" %>
<div class = "col-md-10 col-md-offset-1 text-center bottom-border">
  <h2>Total points: <%= @user.points.balance %></h2>
  <h3><%= link_to "Redeem points", user_rewards_path(current_user) %><h3>
</div>

<div class = "col-md-12 text-center">
  <h2>Redeemed Rewards</h2>
  <div id="rewards">
    <% @rewards.each do |reward| %>
      <h3><%= reward.name %></h3>
    <% end %>
  </div>
</div>
