<div class = "col-md-10 col-md-offset-1 text-center bottom-border">
  <div class="col-md-12 img-responsive center-block">
    <%= image_tag @image, class: "image-boxed"%>
  </div>
  <h1><%= "Welcome #{current_user.username}!" %></h1>
</div>
