$green: #008000;

.text-color-green {
  color: $green;

}

.bigger-font {
  font-size: 2em;

}

.image-boxed {
  width: 50%;

}
.image-full {
  width: 80%;

}

.welcome-header {
  font-family: 'Seymour One', sans-serif;
  font-size: 5em;

}

.form-submission-center {
  text-align: center;
  width: 100%;
}

.bottom-border {
  border-bottom: 2px solid $green;

}
